# Ignore Gradle project-specific cache directory
.gradle
.settings
gradle

# Ignore Gradle build output directory
build

#Ignore resources directory
resources

# Ignore Reports
Reports

#Ignore bin & test-output
bin
test-output

#Ignore all executable, image, javascript files
*.exe
*.jpg
*.js

#Ignore gradle build files
build.gradle
settings.gradle
gradlew
gradlew.bat

debug.log
.project
.classpath
testng.xml
