# Ignore Gradle project-specific cache directory


# Ignore Gradle build output directory


#Ignore resources directory


# Ignore Reports
Reports

#Ignore bin & test-output
bin
test-output

#Ignore all executable, image, javascript files


#Ignore gradle build files


debug.log


