<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Driver_Script" thread-count="1">
    <classes>
		<class name="utilities.Driver"/>
    </classes>
  </test>
  <test name="Test_Script" thread-count="1" parallel="methods">
    <classes>
    
    
    <!-- <class name="testScripts.Notification.NeoOps_RND_TC025" />
    <class name="testScripts.Notification.NeoOps_RND_TC001"/>
    <class name="testScripts.Notification.NeoOps_RND_TC001_2"/>
    <class name="testScripts.Notification.NeoOps_RND_TC001_4"/> -->
    <!-- <class name="testScripts.Notification.NeoOps_RND_TC001_7"/> -->
    <!-- <class name="testScripts.Notification.NeoOps_RND_TC005"/> -->
    <!-- <class name="testScripts.Notification.NeoOps_RND_TC008"/> -->
    <!-- <class name="testScripts.Notification.NeoOps_RND_TC010"/> -->
    <!-- <class name="testScripts.Notification.NeoOps_RND_TC011"/> -->
    <!-- <class name="testScripts.Notification.NeoOps_RND_TC011_1"/> -->
    <!-- <class name="testScripts.Notification.NeoOps_RND_TC056"/> -->
    <!-- <class name="testScripts.FlightPuckActivities.NeoOps_AAFNew_TC001"/> -->
<!--     <class name ="testScripts.SAW.NeoOps_SAW_NewTC001"/>-->    
	<!-- <class name ="testScripts.UserRole.NeoOps_userrole_TC001"/> -->
    <!-- <class name ="testScripts.FlightPuckActivities.NeoOps_MTCE_TC035"/> -->
    <!-- <class name ="testScripts.FlightPuckActivities.NeoOps_MTCE_TC029"/> -->
    <!-- <class name ="testScripts.Aircraft.NeoOps_AAF_TC001"/> -->
    <!-- <class name ="testScripts.Aircraft.NeoOps_AAF_TCNew_003"/> -->
    <!-- <class name ="testScripts.Aircraft.NeoOps_AAFNew_TC003"/> -->
     <class name ="testScripts.SAW.NeoOps_RND_TC065_1"/>
     
    
    
    	<!-- <class name="testScripts.LookAndFeel.NeoOps_AAF_TC024_124_025"/> -->

    
    	<!-- <class name="testScripts.FlightPuckActivities.NeoOps_AAF_TC042_043"/> -->

    	<!-- <class name="testScripts.FlightPuckActivities.NeoOps_AAF_TC027"/> --> 
    	<!-- <class name="testScripts.FlightPuckActivities.NeoOps_AAF_TC048"/> -->
    	<!-- <class name="testScripts.FlightPuckActivities.NeoOps_AAF_TC081_82"/> -->
    	<!-- <class name="testScripts.FlightPuckActivities.NeoOps_AAF_TC048"/> -->
    	<!-- <class name="testScripts.FlightPuckActivities.NeoOps_AAF_TC040_1"/> -->
    	
    	<!--  MAINTENANCE MODULE -->      	
    	<!--  <class name="testScripts.Maintenance.NeoOps_MTCE_TC002"/> -->

    	<!--  INTERFACE MODULE -->      	
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC001"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC002"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC003"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC005"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC006"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC005"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC008"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC010"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC011"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC012"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC014"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC015"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC017"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC023"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC024"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC007"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC013"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC016"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC005"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC025"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC004"/> -->  
    	<!--  <class name="testScripts.Interface.NeoOps_INTG_TC026"/> PRE-REQUISITE: <class name="testScripts.Interface.NeoOps_INTG_TC025"/> -->  

    	<!--  LOOK & FEEL MODULE -->      	
       	<!-- <class name="testScripts.LookAndFeel.NeoOps_AAF_TC024_124_025"/> -->
       	<!-- <class name="testScripts.LookAndFeel.NeoOps_AAF_TC125"/> EXECUTE BEFORE <class name="testScripts.LookAndFeel.NeoOps_AAF_TC125_2"/> -->
       	<!-- <class name="testScripts.LookAndFeel.NeoOps_AAF_TC125_2"/> EXECUTE AFTER <class name="testScripts.LookAndFeel.NeoOps_AAF_TC125"/> -->
       	<!-- <class name="testScripts.LookAndFeel.NeoOps_AAF_TC142"/> -->
       	<!-- <class name="testScripts.LookAndFeel.NeoOps_AAF_TC285"/> -->
   </classes>
  </test>
  <test name="Closing_Script" thread-count="1">
    <classes>
		<class name="utilities.ReportLibrary">
			<methods>
				<include name="closeReport"/>
			</methods>
		</class>	
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
